@import 'tailwindcss';

@theme {
  --color-surface-1: #fcf5e8; /* primary app background */
  --color-surface-2: #e7eae3; /* card, panel, modal, dropdown bg */

  --color-primary-default: #7f7d2d; /*default bg for primary buttons, main CTAs, key toggles, selected tabs */
  --color-primary-hover: #666323; /* hover state */
  --color-primary-disabled: oklch(from var(--color-primary-default) l calc(c * 0.2) h); /* disabled state */
  --color-primary-active: #4f4b1a; /* pressed/active state */
  --color-primary-subtle-bg: #e7eae3; /* subtle backgrounds for primary tags, selected list items, informative highlights */

  --color-border-default: #7f7d2d; /* any border */
  --color-border-on-active: #c5bba9; /* border on primary-default bg */

  --color-text-primary: #2e2a24; /* main body text, icons */
  --color-text-secondary: #828180; /* supporting text, secondary labels, supporting icons */
  --color-text-on-disabled: oklch(from var(--color-primary-default) calc(l * 1.3) calc(c * 0.3) h); /* disabled text and icons */
  --color-text-on-primary: #fcf5e8; /* text and icons on primary buttons, chips, primary-filled states */
  --color-text-on-secondary: #e7eae3; /* text/icons on secondary buttons and secondary filled-chips */

  --font-display: 'Bricolage Grotesque', system-ui, sans-serif;

  --breakpoint-xs: 30rem;

}

@layer base {
  html,
  body {
    @apply bg-surface-1 m-0 min-h-full font-display text-text-primary;
  }

  h1 {
    @apply text-4xl md:text-5xl
  }

  h2 {
    @apply text-2xl md:text-3xl font-semibold
  }

  h3 {
    @apply text-xl md:text-2xl font-semibold
  }

  h4 {
    @apply text-lg md:text-xl font-bold
  }

  h5 {
    @apply text-lg font-bold
  }

  .text-stroke {
    -webkit-text-stroke: 2px var(--color-text-primary);
  }
}
