@import 'tailwindcss';
:root {
  --font-sans: 'Bricolage Grotesque', system-ui, sans-serif;

  --surface-1: #fcf5e8; /* primary app background */
  --surface-2: #e7eae3; /* card, panel, modal, dropdown bg */

  --primary-default: #7f7d2d; /*default bg for primary buttons, main CTAs, key toggles, selected tabs */
  --primary-hover: #666323; /* hover state */
  --primary-active: #4f4b1a; /* pressed/active state */
  --primary-subtle-bg: #e7eae3; /* subtle backgrounds for primary tags, selected list items, informative highlights */

  --border-default: #7f7d2d; /* any border */
  --border-on-active: #c5bba9; /* border on primary-default bg */

  --text-primary: #2e2a24; /* main body text, icons */
  --text-secondary: #828180; /* supporting text, secondary labels, supporting icons */
  --text-on-primary: #fcf5e8; /* text and icons on primary buttons, chips, primary-filled states */
  --text-on-secondary: #e7eae3; /* text/icons on secondary buttons and secondary filled-chips */
}
