@import 'tailwindcss';

@theme {
  --color-surface-1: #fcf5e8; /* primary app background */
  --color-surface-2: #e7eae3; /* card, panel, modal, dropdown bg */

  --color-primary-default: #7f7d2d; /*default bg for primary buttons, main CTAs, key toggles, selected tabs */
  --color-primary-hover: #666323; /* hover state */
  --color-primary-active: #4f4b1a; /* pressed/active state */
  --color-primary-subtle-bg: #e7eae3; /* subtle backgrounds for primary tags, selected list items, informative highlights */

  --color-border-default: #7f7d2d; /* any border */
  --color-border-on-active: #c5bba9; /* border on primary-default bg */

  --color-text-primary: #2e2a24; /* main body text, icons */
  --color-text-secondary: #828180; /* supporting text, secondary labels, supporting icons */
  --color-text-on-primary: #fcf5e8; /* text and icons on primary buttons, chips, primary-filled states */
  --color-text-on-secondary: #e7eae3; /* text/icons on secondary buttons and secondary filled-chips */

  --font-display: 'Bricolage Grotesque', system-ui, sans-serif;
}

html,
body {
  @apply bg-surface-1 m-0 min-h-full font-display
}
